<header>
  <nav>
    <a href="/">svgTree2</a>
    <ul>
      <li><a href="/users">utilisateurs</a></li>
      <li><a href="/users/new">ajouter un utilisateur</a></li>
      <li><a href="/jobs">jobs</a></li>
      <li><a href="/jobs/new">ajouter un job</a></li>
    </ul>
  </nav>
</header>